<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkz.healthcaredirectory">

    <!-- Implicit Intents -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.pkz.healthcaredirectory.HealthCareDirectoryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pkz.healthcaredirectory.activities.HospitalDetailActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.ClinicDetailActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.PhamacyDetailActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.DoctorCategoryListActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.DoctorListActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.DoctorCategoryListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.DoctorDetailActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.DoctorListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.ArticleListActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.ArticleDetailActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.ArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.ArticleDetailWebViewActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.ArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.VeterinaryListActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.VeterinaryListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.VeterinaryDetailActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.VeterinaryDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.DiseaseListActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.DiseaseDetailActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.DiseaseListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.SearchActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.SearchResultActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pkz.healthcaredirectory.activities.HelpActivity"
            android:parentActivityName="com.pkz.healthcaredirectory.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <provider
            android:name="com.pkz.healthcaredirectory.data.persistence.HealthCareProvider"
            android:authorities="com.pkz.healthcaredirectory"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>